@page "/football"
@using SportNews.Shared.Models
@inject HttpClient Http

<h1>Football news</h1>

@if (articles == null)
{
	<p>
		<em>Loading...</em>
	</p>
}
else
{
	<ol type="1">
		@foreach (var article in articles)
		{
			<li>@article.Title</li>
		}
	</ol>
}

@functions
{
	Article[] articles;

	protected override async Task OnInitAsync()
	{
		articles = await Http.GetJsonAsync<Article[]>("api/SampleData/Football");
	}

}